<div class="header-container" style="background-color: @@header--bg-color">
   <table class="header" width="100%" align="center" bgcolor="@@header--bg-color">
       <tr>
           <td class="header__webversion" align="center">
               <p>Trouble viewing this email? &nbsp;<webversion><span style="white-space:nowrap;">View in web browser &rsaquo;</span></webversion></p>
           </td>
       </tr>
       <tr>
           <td class="header__img@@if (context.responsive === true) { header__responsive}" align="center" height="@@if (context.height === undefined) {100}@@if (!isNaN(context.height)) {@@height}" valign="top" background="http://s.wsj.net/newsletter/darkmode-fallback-tile.png" bgcolor="@@header--bg-color">
               @@header__content
           </td>
       </tr>
   </table>
</div>
