<tr>
    <td class="@@if (context.padding === "normal") {email-body__article}
               @@if (context.padding === undefined) {email-body__article--no-pad}
               @@if (typeof context.addClass === "string") { @@addClass}"
               @@if (typeof context.align === "string") {align="@@align"}
               @@if (typeof context.indent === "number") { style="padding: 0 0 0 @@indentpx;"} valign="top">

        @@if (context.firstLetter === true) {
            <table align="left">
                <tr>
                    <td class="first-letter" align="center" width="36">
                        @@p__first-letter
                    </td>
                </tr>
            </table>
        }@@p__content

    </td>
</tr>
