<tr>
    <td class="podcast email-body__box email-body__columns" valign="top">
        <table class="responsive" width="@@if (context.lWidth === undefined) {198}@@if (!isNaN(context.lWidth)) {@@lWidth}" align="left">
            <tr>
                <td class="td column--one-half" valign="top" width="@@if (context.lWidth === undefined) {198}@@if (!isNaN(context.lWidth)) {@@lWidth}">
                    @@podcast__img
                </td>
            </tr>
        </table>
        <table class="responsive column--second-half" width="@@if (context.rWidth === undefined) {312}@@if (!isNaN(context.rWidth)) {@@rWidth}" align="right">
            <!-- h2 -->
            @@include('h2.html', {
                "h2__content": "<span class=\"email-body__article--no-pad h2\"><multiline label=\"Podcast – Headline\">@@podcast__h2</multiline></span>",
                "padding": true
            })
			@@if (typeof context.podcast__h1 === 'string') {
				<!-- h1 -->
	            @@include('h1.html', {
	                "h1__content": "<span class=\"email-body__article--no-pad h1\"><multiline label=\"Podcast – Title\">@@podcast__h1</multiline></span>",
	                "padding": false
	            })
			}
            <!-- paragraph -->
            @@include('p.html', {
                "p__content": "<span class=\"podcast__paragraph sans\"><multiline label=\"Podcast – Paragraph\"><p>@@podcast__paragraph</p></multiline></span>",
                "padding": "normal"
            })
            @@if (context.btn !== false) {
                @@include('btn.html', {
                    "width": "@@btnWidth",
                    "align": "left",
                    "innertext": "<singleline label=\"Podcast – Btn Text\">@@podcast__btn-txt</singleline>",
                    "href": "https://www.wsj.com/",
                    "responsive": true
                })
            }
        </table>
    </td>
</tr>
