<tr>
    <td class="pre-footer" valign="top">
        <table width="100%">
            @@include('hr.html')
            <tr>
                <td class="td pre-footer__content" valign="top" align="center">
                    <img class="pre-footer__icon hide-in-dark" src="http://s.wsj.net/newsletter/computer-tablet-mobile-dark-v2.png" width="64" alt="Desktop, tablet and mobile. "><!--[if !mso]--><img class="pre-footer__icon show-in-dark-inline" src="http://s.wsj.net/newsletter/computer-tablet-mobile-light.png" width="64" alt="Desktop, tablet and mobile. "><!--[endif]-->
                    <div class="pre-footer__text">
						@@if (context.translate1 === undefined){Access WSJ&zwnj;.com and our mobile apps.}@@if (typeof context.translate1 === "string"){@@translate1}
                        @@if (context.subUrl === undefined) {
                            <a href="http://subscribe.wsj.com">@@if (context.translate2 === undefined){Subscribe}@@if (typeof context.translate2 === "string"){@@translate2}</a>
                        }
                        @@if (typeof context.subUrl === "string") {
                            <a href="@@subUrl">@@if (context.translate2 === undefined){Subscribe}@@if (typeof context.translate2 === "string"){@@translate2}</a>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
