<tr>
    <td class="email-body__box">
        <table width="100%" bgcolor="#E8EDF1">
            <tr>
                <td class="sponsor" valign="top">
                    <table >
                        <tr>
                            <td class="sponsor__logo sans" align="center" valign="top">
                                PAID PROGRAM
                            </td>
                        </tr>
                        <tr>
                            <td class="sponsor__logo" align="center" valign="top">
                                @@sponsor__logo
                            </td>
                        </tr>
                        @@if (context.minimal !== true) {
                            <tr>
                                <td class="sponsor__logo sans" align="center" valign="top">
                                    @@sponsor__sponsor-by
                                </td>
                            </tr>
                            <tr>
                                <td class="sponsor__heading sans email-body__article--no-pad" valign="top">
                                    @@sponsor__headline
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="sponsor__paragraph sans email-body__article--no-pad" valign="top">
                                @@sponsor__body
                            </td>
                        </tr>
                        @@if (context.minimal !== true) {
                            <tr>
                                <td class="sponsor__paragraph sans" valign="top">
                                    @@sponsor__ext-link
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
