<tr>
    <td class="email-body__box email-body__columns" valign="top">

        <table class="responsive" width="255" align="left">
            <tr>
                <td class="td column--one-half" valign="top" width="255">
                    @@two-col-1st-half__row-1
                </td>
            </tr>
            @@if (context.rows === 2 || context.rows === 3) {
                <tr>
                    <td class="td column--one-half" valign="top" width="255">
                        @@two-col-1st-half__row-2
                    </td>
                </tr>
            }
        </table>

        <table class="responsive" width="255" align="right">
            <tr>
                <td class="td column--one-half" valign="top" width="255">
                    @@two-col-2nd-half__row-1
                </td>
            </tr>
            @@if (context.rows === 2 || context.rows === 3) {
                <tr>
                    <td class="td column--one-half" valign="top" width="255">
                        @@two-col-2nd-half__row-2
                    </td>
                </tr>
            }
        </table>

    </td>
</tr>
