<tr>
    <td class="@@if (context.responsive !== true) {email-body__img} icon-left @@if (context.card === true) {icon-left--card}" valign="top" @@if (context.card === true) {bgcolor="#F4F4F4"}>
        @@if (context.responsive !== true) {
            <table>
                <tr>
                    <td class="td icon-left__icon" valign="top">
                        @@icon-left__icon-img
                    </td>
                    <td class="td">
                        @@icon-left__content
                    </td>
                </tr>
            </table>
        }
        @@if (context.responsive === true) {
            <table class="responsive" width="80" align="left">
                <tr>
                    <td class="icon-left__icon--responsive" align="center" valign="top">
                        @@img
                    </td>
                </tr>
            </table>
            <table class="icon-left__valign-middle responsive" width="435" height="103" align="right">
                <tr>
                    <td class="icon-left__valign-middle email-body__article" valign="middle" height="103" >
                        @@if (typeof context.h1 === "string") {
                            <table class="responsive icon-left__h1">
                                @@include('h1.html', {
                                    "h1__content": "<singleline label=\"Section Name\">@@h1</singleline>",
                                    "padding": true
                                })
                            </table>
                        }
                        @@if (typeof context.h2 === "string") {
                            <table class="responsive icon-left__h2">
                                @@include('h2.html', {
                                    "h2__content": "<singleline label=\"Headline\">@@h2</singleline>",
                                    "padding": true
                                })
                            </table>
                        }
                        @@if (typeof context.p === "string") {
                            <multiline label="Headline">@@p</multiline>
                        }
                        @@if (typeof context.h3 === "string") {
                            <table class="responsive icon-left__h3">
                                @@include('h3.html', {
                                    "h3__content": "<singleline label=\"Byline\">@@h3</singleline>",
                                    "padding": true
                                })
                            </table>
                        }
                    </td>
                </tr>
            </table>
        }
    </td>
</tr>
@@if (context.hr === true) {
  @@include('hr.html', {
      "hrPadding": "hr--first"
  })
}
