:root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
}

@media (prefers-color-scheme:dark) {

	body a,
	.email-body a,
	.email-body a:visited,
	.email-body a .yshortcuts, /* Yahoo! Mail Override */
	.header__webversion a {
		color: #0294E8 !important;
	}

	body a:hover,
	.email-body a:hover,
	.email-body a.btn__link {
	  color: #FFFFFF !important;
	}

	.email-body,
	.dark-mode-bg {
		background-color: #222222 !important;
	}

	.email-body-bg {
		background-color: #111111 !important;
	}

	body,
	.email-body,
	.email-body__article,
	.email-body__article--no-pad,
	.email-body__columns .td,
	.td,
	.transcriptbox__transcript,
	.transcriptbox__link {
	    color: #F4F4F4 !important;
	}

	.header-container,
	.header,
	.header__img {
		background-color: #222222 !important;
	}

	.header__img {
		background-image: none !important;
	}

	.header__webversion {
	    border-bottom-color: #444444 !important;
	}

	@media only screen and (max-width: 600px) {

	    .header {
	        border-bottom-color: #444444 !important;
	    }

	}

	.footer,
	.footer .email-body {
		background-color: #111111 !important;
	}

	.footer__responsive-link {
	    border-top-color: #444444 !important;
	}

	h1,
	.h1,
	h2,
	.h2 {
	    color: #F4F4F4 !important;

	}

	.sub-after-h1,
	h3,
	.h3 {
	    color: #EBEBEB !important;
	}

	.email-body__ad-label,
	.responsive-img__caption,
	.ext-src,
	.h1__timestamp,
	.share-article,
	.pre-footer .td,
	.header__webversion {
	    color: #F4F4F4 !important;
	}

	.pre-footer .td {
	    color: #F4F4F4 !important;
	}

	.follow-subscribe .td--last,
	.hr .td,
	.nl--border {
	    border-top-color: #444444 !important;
	}

	.follow-subscribe .td--last {
	    border-left-color: #444444 !important;
	}

	.powerinbox img {
		border-color: #444444 !important;
	}

	.email-body__box > [bgcolor],
	.quotebox > [bgcolor],
	.note--pad > [bgcolor],
	.note[bgcolor],
	.historybox,
	.historybox__day,
	.transcriptbox__transcript,
	.fmdp,
	.elections--bg > [bgcolor],
	.icon-left--card {
		background-color: #333333;
	}

	.note--txt,
	.fmdp__date,
	.fmdp__td--first,
	.fmdp__td b,
	.sponsor__logo--first {
	    color: #F4F4F4 !important;
	}

	.fmdp__td {
		color: #EBEBEB !important;
		border-top-color: #222222 !important;
	}

	.fmdp__td--last b, /* this class needs to be added dynamically to html */
	.fmdp__td:last-child b {
		color: #0EB500 !important;
	}

	.exclusive,
	[style="color:#e10000"],
	.elections--bg,
	.elections .first {
	  color: #FF4D4D !important;
	}

	.podcast__paragraph {
	    color: #EBEBEB !important;
	}

	.header__subhead {
		background-color: #9E855E;
	}

	.show-in-dark,
	.show-in-dark-inline {
		display: block !important;
		max-height: none !important;
		overflow: auto !important;
	}

	.show-in-dark-inline {
		display: inline !important;
	}

	.hide-in-dark {
		display: none !important;
		max-height: 0 !important;
		overflow: hidden !important;
	}

}
