.footer {
    background-color: #F4F4F4;
}
@media only screen and (max-width:600px) {
    .footer .td {
        display: block;
        border-bottom: 1px solid #CCCCCC;
        padding: 15px 0;
    }
    .footer .td:last-child {
        border-bottom: none;
    }
    .mobile-hide {
        display: none !important;
        width: 0!important;
        max-height: 0!important;
        overflow: hidden!important;
    }
}
.footer a {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}
.bottom-text {
    font-size: 12px;
    padding-bottom: 30px;
}
.footer img {
    padding: 30px 0 20px 0;
}
