.fs-col-1 {
    border-right: 1px solid #CCCCCC;
    padding: 0 43px 0;
}
.fs-col-2 {
    padding: 0 22px 0 0;
}
.forward-subscribe p {
    margin: 8px 0 3px 0;
}
@media only screen and (max-width:600px) {
    .fs-col-1 {
        border-right: none !important;
        border-bottom: 1px solid #CCCCCC;
        padding: 0 0 20px !important;
    }
    .fs-col-2 {
        padding: 20px 0 0 !important;
    }
}
