.cs-button-block {
	top: 25px !important;
}

.apple-link a {
	color: #333333 !important;
	text-decoration: none !important;
}

.hide-p p {
	display: none !important;
	width: 0 !important;
	max-height: 0 !important;
	overflow: hidden !important;
}
