.stage-out {
    padding-top: 30px;
}

.stage-in {
    padding: 26px 30px 10px 30px;
}

.email-body {
    margin: 0 auto !important;
    table-layout: fixed;
}

.br-desktop {
    display: block;
}

.hide {
	display: none !important;
	width: 0 !important;
	max-height: 0 !important;
	overflow: hidden !important;
}

.preheader {
    color: rgba(0, 0, 0, 0);
    line-height: 0 !important;
}

.responsive-img {
    display: block;
}

@media only screen and (min-width: 601px) {

    .desktop-hide {
        display: none !important;
        width: 0!important;
        max-height: 0!important;
        overflow: hidden!important;
    }

}

@media only screen and (max-width: 600px) {

    .mobile-show {
        display: block !important;
        max-height: none !important;
        width: auto !important;
        overflow: auto !important;
    }

	.mobile-hide {
		display: none !important;
		width: 0!important;
		max-height: 0!important;
		overflow: hidden!important;
	}

    .stage-out {
        padding-top: 0 !important;
    }

    .stage-in {
        padding: 30px 20px 0 20px !important;
    }

    .email-body,
    .responsive {
        width: 100% !important;
    }

    .responsive-2-col {
        width: 50% !important;
        margin-bottom: 40px;
    }

    .responsive-img {
        height: auto !important;
        width: auto !important;
        max-width: 100% !important;
    }

    .clear-left {
        clear: left;
    }

    .br-desktop {
        display: none !important;
    }

}
