.container {
    background-color: #F4F4F4;
    width: 100%;
}
.inner-container {
    background-color: #FFF;
    width: 600px;
}
@media only screen and (max-width:600px) {
    .responsive {
        width: 100% !important;
    }
    .mobile-block {
        display: block;
    }
    .responsive-img {
        height: auto !important;
        width: auto !important;
        max-width: 100% !important;
    }

}
ol {
    padding: 13px 0 5px 15px;
    line-height: 24px;
}
