body,
.default-paragraph,
.col-1,
.col-2 {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    font-family: "Georgia", "Times", "Times New Roman", serif !important;
}
a {
    color: #0080C3;
}
.sans,
h1,
.h1,
h2,
.h2,
h3,
.h3,
.small,
.subheading,
.img-caption {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
h1,
.h1 {
    margin: 5px 0 20px 0;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 13px;
}
h2,
.h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    margin: 0 0 22px;
}
h3,
.h3,
.byline {
    font-style: italic;
    color: #666666;
    font-size: 14px;
    font-family: "Georgia", "Times", "Times New Roman", serif;
    font-weight: normal;
}
.small {
    font-size: 14px;
    line-height: 18px;
}
.h2-plus-sub {
    margin-bottom: 5px;
}
.subheading {
    padding-bottom: 20px;
    color: #666666;
}
.img-caption {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 0 20px;
}
