body,
.default-paragraph {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    font-family: "Georgia", "Times", "Times New Roman", serif !important;
}
.default-paragraph p {
    margin-bottom: 16px;
}
a {
    color: #0080C3;
}
.byline {
    font-style: italic;
    color: #666666;
    font-size: 14px;
    font-family: "Georgia", "Times", "Times New Roman", serif !important;
}
.sans {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.small {
    font-size: 14px;
    line-height: 18px;
}
.medium {
    font-style: 16px
    line-height: 22px;
    font-weight: normal;
}
.large {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
}
