h1,
.h1 {
    color: #333333;

}

.sub-after-h1 {
    color: #666666;
}

h2,
.h2 {
    color: #333333;
}

h3,
.h3 {
    color: #666666;
}

.email-body__ad-label,
.responsive-img__caption,
.ext-src,
.h1__timestamp,
.share-article,
.pre-footer .td,
.header__webversion {
    color: #999999;
}

.pre-footer .td {
    color: #333333;
}

body a,
.email-body a,
.email-body a:visited,
.email-body a .yshortcuts, /* Yahoo! Mail Override */
.header__webversion a {
	color: #0080C3;
	font-weight: normal;
	text-decoration: underline;
}

body a:hover,
.email-body a:hover {
  color: #333333 !important;
}

ul {
	margin: 0 0 14px 0;
	padding-left: 18px;
}

.email-body li {
	padding-left: 10px;
	margin: 0;
}

.ext-src a {
	color: #999999 !important;
	font-size: 12px;
	line-height: 18px;
}

.h1__timestamp .apple-link a {
	color: #999999 !important;
}

.first-letter {
	line-height: 23px !important;
    font-family: "Times New Roman", "Times", "Georgia", serif !important;
}

.sans {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
