body,
.email-body,
.email-body__article,
.email-body__article--no-pad,
.email-body__columns .td,
.transcriptbox__transcript,
.transcriptbox__link {
    color: #333333;
    font-family: "Georgia", "Times", "Times New Roman", serif !important;
    line-height: 24px;
    font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3,
.email-body__ad-label,
.responsive-img__caption,
.quotebox__quote,
.quotebox__attribution,
.sub-after-h1,
.preheader,
.h1__timestamp,
.share-article,
.pre-footer .td,
.header__webversion,
.sans {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1,
.h1 {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    margin: 0;
}

.sub-after-h1 {
    color: #666666;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}

h2,
.h2 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
}

h3,
.h3 {
    color: #666666;
    font-family: "Georgia", "Times", "Times New Roman", serif !important;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 21px;
    margin: 0;
}

.email-body__ad-label,
.responsive-img__caption,
.ext-src,
.h1__timestamp,
.share-article,
.pre-footer .td,
.header__webversion {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
}

.responsive-img__caption {
    padding-top: 8px;
}

.small {
    font-size: 10px !important;
}

.pre-footer .td {
    color: #333333;
}

.h1__timestamp {
    padding: 7px 0 0 0;
    text-align: right;
}

.first-letter {
    padding: 11px 4px 0 0;
    font-size: 50px;
    line-height: 23px;
    font-family: "Times New Roman", "Times", "Georgia", serif;
}

@media only screen and (max-width: 600px) {

    .h1__timestamp {
        padding: 0 !important;
        text-align: left !important;
    }

}
